$navbar-default-bg: #ddae36;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #E6E6FA;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #FFF;
    text-decoration: none;
}

.center {
    text-align: center;
}

.jumbotron {
    margin-top: 20px;
    background-image: asset-url('pusheenbb2');
    background-size: cover;
    height: 300px;
}

.jumbotron h1 {
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.btn-xlarge {
    font-size: 1.7em;
    background-color: #ddae36;
    border-style: none;

}

footer {
    margin-top: 55px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}










